/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 70px; /* Largura fixa */
    height: 100vh;
    background: rgba(255, 255, 255, 0.1); /* Glass effect */
    backdrop-filter: blur(10px); /* Glass effect */
    border-right: 1px solid rgba(255, 255, 255, 0.2); /* Glass effect */
    background: linear-gradient(135deg, #6f00ff, #350086);
}

.sidebar .sidebar-header {
    display: flex;
    position: relative;
    padding: 20px 10px;
    align-items: center;
    justify-content: center; /* Centraliza o logo */
}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 10px; /* Reduz o padding */
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar .sidebar-nav .primary-nav {
    overflow-y: auto;
    scrollbar-width: thin;
    padding-bottom: 20px;
    height: calc(100vh - 227px);
    scrollbar-color: transparent transparent;
}

.sidebar-nav .nav-item .nav-link {
    color: #fff;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    padding: 10px; /* Aumenta o padding para melhorar o clique */
    align-items: center;
    justify-content: center; /* Centraliza os ícones */
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.4s ease;
}

.sidebar-nav .nav-item:is(:hover) > .nav-link {
    color: #6a5acd; /* Purple color */
    background: rgba(255, 255, 255, 0.2); /* Glass effect */
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 35px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1); /* Glass effect */
}

/* Main Content */
main {
    margin-left: 70px; /* Largura fixa da sidebar */
    padding: 20px;
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
    .sidebar-menu-button {
        position: fixed;
        left: 20px;
        top: 20px;
        height: 40px;
        width: 42px;
        display: flex;
        color: #f1f4ff;
        background: #6a5acd; /* Purple color */
    }

    .sidebar {
        left: -70px; /* Esconde a sidebar em telas pequenas */
    }

    .sidebar.active {
        left: 0; /* Mostra a sidebar ao clicar no botão */
    }

    main {
        margin-left: 0; /* Remove a margem em telas pequenas */
    }
}